//  for extends 

%buttonStyle{
    background: $green-color;
    color:#FFF;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all .2s linear;
    border: none;
    cursor: pointer;
    
}


// @exstend %extandName; call to extend