*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans";
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}


::-webkit-scrollbar{
    width: 0;
}