// $bg-main-color:#551000;

$green-color:#33836E;
$text-color: #140A32;
$text-color2: rgba(47, 43, 67, 0.50);
$bg-svg: #EBF2F0;
$bg-svg2: #115B82;
$bg-text: #E0ECE9;
$border-color:rgba(47, 43, 67, 0.15);
$bg-serch:rgba(47, 43, 67, 0.04);
$btn-hover:#81D2BC;



  // @media screen and  (max-width: 770px){

  // }
  // @media screen and  (max-width: 577px){
  
  // }
  // @media screen and  (max-width: 376px){
      
  // }